# Consideraciones generales
# 1. Copiar este archivo a .env
# 2. Reemplazar las ???? por los valores correspondiente a su ambiente de trabajo


# Configuración de Express
EXPRESS_PORT = 3000

# Configuración de mongoDB (local)
MONGO_PROTOCOL = 'mongodb://'
MONGODB_HOST = "localhost"
MONGODB_PORT = "27017"
MONGODB_DB_NAME="aca-s2-m22"
MONGODB_USER = "????"
MONGODB_PASSWORD = ""????""

#MONGODB_URI_DIRECT = "mongodb://localhost:27017/aca-s2-m22"

# Configuración de mysql (local)
MYSQL_HOST = "localhost"
MYSQL_USER = Establecer el usuario correspondiente de la base de datos
MYSQL_PASSWORD = Establecer contraseña correspondiente
MYSQL_DB_NAME = "aca_s2_m26"
MYSQL_DIALECT = "mysql"